[relaychain]
default_command = "./polkadot"
default_args = [ "-l=parachain=debug,xcm=trace" ]
chain = "paseo-local"
chain_spec_path="chainspec/paseo-local-plain.json"

    [[relaychain.nodes]]
    name = "alice"
    rpc_port = 8833
    validator = true

    [[relaychain.nodes]]
    name = "bob"
    validator = true

# [[parachains]]
# id = 4594
# chain = "idnc-dev"
# name = "idn-consumer-chain"
# default_args = ["-lruntime::revive=trace,xcm=trace,parachain=trace,pallet-idn-manager=trace"]

#     [[parachains.collators]]
#     name = "idn-consumer-alice"
#     command = "../target/release/idn-consumer-node"
#     rpc_port = 9944

#     [[parachains.collators]]
#     name = "idn-consumer-bob"
#     command = "../target/release/idn-consumer-node"

[[parachains]]
id = 4502
chain = "idn-dev"
name = "ideal-network"
default_args = ["-lxcm=trace,parachain=trace,pallet-idn-manager=trace"]

    [[parachains.collators]]
    name = "idn-alice"
    command = "../target/release/idn-node"
    rpc_port = 9933

    # [[parachains.collators]]
    # command = "../target/release/idn-node"
    # name = "idn-bob"