name: Rust

on:
  push:
    branches:
      - main
      - cki/code-coverage
  pull_request:
    branches:
      - main

    permissions:
      pull-requests: write
      contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Rust stable
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: Install Rust nightly
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        override: false

    - name: Install rustfmt for nightly
      run: rustup component add --toolchain nightly rustfmt

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y protobuf-compiler

    - name: Install Rust dependencies
      run: cargo fetch

    - name: Build
      run: cargo build --verbose

    - name: Run cargo fmt
      run: cargo +nightly fmt -- --check

    - name: Run cargo clippy
      run: cargo clippy -- -D warnings

    - name: Install cargo-tarpaulin
      run: cargo install cargo-tarpaulin

    - name: Run cargo tarpaulin
      run: cargo tarpaulin --rustflags="-C opt-level=0" --no-fail-fast --out xml

    - name: Code Coverage Summary
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: cobertura.xml
        badge: true
        fail_below_min: false
        thresholds: '80 85'
        output: both
        format: markdown

    - name: Add Job Summary
      run: echo "$(<code-coverage-results.md)" >> $GITHUB_STEP_SUMMARY